html,
body {
  background: center url('../images/seabreeze.jpeg');
  background-color: $white;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100vh;
}

html {
  font-size: $font-size;
  color: $black;
  max-width: $page-width;
  line-height: 1.4;
}

body {
  margin: 0;
  width: 100vw;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}
