html,
body {
  background: center url('../images/the-lake.svg');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

html {
  font-size: $font-size;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}

body {
  margin: 0;
  width: 100vw;
}

#app {
  height: 100vh;
}

h1 {
  margin: auto;
  text-align: center;
  max-width: 90vw;
}
