$font-size: 1rem;
$font-light: 'Rubik Light', sans-serif;
$font-regular: 'Rubik Regular', sans-serif;
$font-bold: 'Rubik Bold', sans-serif;
$page-width: 650px;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

$black: #2e4a68;
$gray: #adadad;
$blue: #0177fb;
$lightBlue: lighten($blue, 30%);
$green: #4dbcca;
$lightGreen: lighten($green, 30%);
$white: #f4f3f1;
