$font-size: 1rem;
$lilita: 'Lilita', sans-serif;
$baloo-regular: 'Baloo Regular', sans-serif;
$baloo-medium: 'Baloo Medium', sans-serif;
$font-color: #dae0e0;
$page-width: 650px;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

$mediumBrown: #99565a;
$paleYellow: #e6e4ae;
$paleOrange: #e6979d;
$paleBlue: #81c2e6;
$paleGreen: #5d8499;
