$font-size: 1rem;
$lilita: 'Lilita', sans-serif;
$baloo-regular: 'Baloo Regular', sans-serif;
$baloo-medium: 'Baloo Medium', sans-serif;
$font-color: #dae0e0;
$page-width: 650px;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
