@font-face {
  font-family: 'Rubik Light';
  src: url('../fonts/Rubik-Light.ttf');
}
@font-face {
  font-family: 'Rubik Regular';
  src: url('../fonts/Rubik-Regular.ttf');
}
@font-face {
  font-family: 'Rubik Bold';
  src: url('../fonts/Rubik-Bold.ttf');
}

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@import './variables';
@import './scaffolding';
@import '../components/Navbar/navbar.scss';
@import '../components/Landing/landing.scss';
@import '../components/Boats/boats.scss';
@import '../components/BoatCard/boat-card.scss';
@import '../components/CarDImage/card-image.scss';
@import '../components/BoatDetails/boat-details.scss';
@import '../components/Payment/payment.scss';
@import '../components/About/about.scss';
@import '../components/Spinner/spinner.scss';
