@import '../styles/variables';

.boats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;
}

.boats-title {
  font-family: $font-regular;
  text-align: center;
}
