@import '../styles/variables';

.vehicle-details {
  height: 100%;
  background-color: $white;
  font-family: $font-regular;
}

.vehicle-details__content {
  height: 100%;
  display: flex;
  padding: 24px;
}

.vehicle-details__data,
.vehicle-details__image-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.vehicle-details__image {
  transform: rotate(-90deg);
  width: 300px;
}
