@import '../styles/variables';

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-title {
  font-family: $baloo-regular;
  text-align: center;
}
