@import '../styles/variables';

.canoe {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/canoe-action.jpg');
  background-position: center;
}
.jetski {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('../images/jetski-action.jpg');
  background-position: center;
}
.kayak {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/kayak-action.jpg');
  background-position: center;
}
.scuba {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/scuba-action.jpg');
  background-position: center;
}
.waterski {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/waterski-action.jpg');
  background-position: center;
}
.windsurf {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/windsurf-action.jpg');
  background-position: center;
}

.vehicle-details {
  margin-top: -64px;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.vehicle-details_content {
  padding-top: 64px;
}
